
body.loginpage {
    background: none repeat scroll 0% 0% #0866C6;
}
.center_div {
    margin: 0 auto;
    height: 300px;
    margin-top:200px;
}

.loginlogo {
    text-align: center;
    padding: 20px 0px;
}

.white-color-font {
    color:#ffffff;
}
