body.dashboard {
/*background: none repeat scroll 0% 0% #CCC;*/
}
.width100 {
width:100%;
}

.margin10 {
margin-top:10px;
}
.margintop20 {
margin-top:20px;
}

.pagetitle {
margin:0px 0px 0px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #337AB7;
  color:#fff;
}


