	<div class="footer">
                    <div class="footer-left">
                        <span>&copy; 2014. AZERTY INFOSERVICES. Tous droits r&eacute;serv&eacute;s.</span>
                    </div>
                    <div class="footer-right">
                        <span>D&eacute;velopp&eacute; par: <a href="http://www.france-expert-comptable.com/">AZERTY Infoservices</a></span>
                    </div>
	</div><!--footer-->